html {
   margin: 0;
   padding: 0;
   background-color: hsl(212, 45%, 89%); 
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   font-size: 15px;
   text-align: center;
   color: hsl(220, 15%, 55%);
   overflow: hidden;
}

#main {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    height: 100vh;
}

#white-box {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0 0 20px hsl(220, 15%, 80%);
}

#code-image {
    width: 90%;
    padding: 5%;
    border-radius: 25px;
}

#text {
    padding: 20px;
    margin-top: -30px;
}

#big-text {
    font-weight: 700;
    font-size: 21px;;
    color: hsl(218, 44%, 22%);
}

.attribution {
    font-size: 0.75rem;
    margin-top: -3px;
    color: hsl(220, 15%, 35%);
}

a {
    color: black;
}

a:hover {
    border: 1px solid hsl(218, 44%, 22%);
    padding: 1px 3px;
    background-color: hsl(218, 44%, 22%);
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
